{% extends 'base.html' %}

{% block content %}
  <h2>Upload a File</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    <label for="id_upload_option">Upload option:</label>
    <select name="upload_option" id="id_upload_option" onchange="handleUploadOption(this.value)">
        <option value="local">Local</option>
        <option value="url">URL</option>
    </select>
    <br><br>
    <div id="local-upload" style="display:none">
        <label for="id_local_file_type">File type:</label>
        <select name="local_file_type" id="id_local_file_type">
            <option value="csv">CSV</option>
            <option value="json">JSON</option>
            <option value="image">Image</option>
        </select>
        <br><br>
        <input type="file" name="file">
    </div>
    <div id="url-upload" style="display:none">
        <label for="id_url_file_type">File type:</label>
        <select name="url_file_type" id="id_url_file_type">
            <option value="mongo">Mongo</option>
            <option value="sql">SQL</option>
        </select>
        <br><br>
        <input type="text" name="file_url" placeholder="Enter file URL">
        <input type="text" name="username" placeholder="Enter Username">
        <input type="text" name="password" placeholder="Enter Password">
    </div>
    <br><br>
    <button type="submit">Upload</button>
  </form>
  
  <script>
      function handleUploadOption(value) {
          if (value == "local") {
              document.getElementById("local-upload").style.display = "block";
              document.getElementById("url-upload").style.display = "none";
          } else {
              document.getElementById("local-upload").style.display = "none";
              document.getElementById("url-upload").style.display = "block";
          }
      }
  </script>
{% endblock %}